# Data analysis

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import category_encoders as ce
%matplotlib inline

In [30]:
diamonds_train = pd.read_csv('input/diamonds_train.csv', encoding='latin-1')
diamonds_test = pd.read_csv('input/diamonds_test.csv', encoding='latin-1')
sample_submission = pd.read_csv('input/sample_submission.csv', header=None, index_col=0)

## Diamonds_train analysis and cleaning

In [20]:
diamonds_train.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.12    Premium     H     SI1   61.6   59.0  6.67  6.63  4.10   5363
1   1   1.14  Very Good     E     SI2   60.0   54.0  6.74  6.97  4.11   5593
2   2   0.90  Very Good     D     SI2   60.3   63.0  6.12  6.22  3.72   3534
3   3   0.71      Ideal     E     VS1   61.9   54.0  5.74  5.76  3.56   3212
4   4   0.34  Very Good     F     SI2   60.0   62.0  4.51  4.55  2.72    447

In [22]:
diamonds_train.shape

(40455, 11)

In [32]:
diamonds_train.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [33]:
diamonds_train.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

## Diamonds_test analysis and cleaning

In [34]:
diamonds_test.head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   0.33  Very Good     I      IF   62.0   58.0  4.44  4.46  2.76
1   1   1.21  Very Good     D     SI2   62.4   58.0  6.77  6.83  4.24
2   2   1.06  Very Good     D     SI1   59.3   60.0  6.64  6.71  3.96
3   3   0.36      Ideal     E    VVS1   61.4   57.0  4.64  4.61  2.54
4   4   0.70      Ideal     E     VS1   62.3   54.0  5.67  5.72  3.55

In [35]:
diamonds_train.shape

(40455, 11)

In [36]:
diamonds_train.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [37]:
diamonds_train.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

## Sample_submission analysis and cleaning

In [38]:
sample_submission.head()

        1
0
id  price
0    2452
1   13670
2    4875
3   12188

In [39]:
sample_submission.shape

(13486, 1)

In [40]:
sample_submission.isna().sum()

1    0
dtype: int64

In [41]:
sample_submission.dtypes

1    object
dtype: object